{% extends 'base.html.twig' %}

{# CSS class de bootstrap qui sert à centrer le contenu de la page  #}
{% block centerContent %}d-flex align-items-center justify-content-center{% endblock %}

{% block body %}
<h1 class="display-4 container">
    Merci de suivre le lien dans votre boite de réception pour finaliser votre inscription.
</h1>

{% endblock %}

