{% extends 'base.html.twig' %}

{% block title %}Mot de passe oublié{% endblock %}

{% block body %}

    <div class="fushbandeau">
    <div class="bloc colon12Marge2">
    <div class="container-sm bottomJM ">
    <h1 class="centrer txtRouges ">Mot de passe oublié</h1>



        {{ form_start(emailForm) }}

        {{ form_row(emailForm.email) }}
        <div class="log">
            <button class="logg btn-lg btn-primary " type="submit">
                Envoyer
            </button>
        </div>
        {{ form_end(emailForm) }}


    </div>
    </div>
        <br>
        <br>
    </div>
    {% block footer %}
        <div class="full couleurFond">

        </div>
    {% endblock %}
{% endblock %}