{% extends 'base.html.twig' %}

{# CSS class de bootstrap qui sert à centrer le contenu de la page  #}
{% block centerContent %}d-flex align-items-center justify-content-center{% endblock %}

{% block body %}

<div>
    <a href="{{ path('app_register',{type:'locataire'}) }}" type="button" class="btn btn-primary btn-lg">Louer une voiture</a>

    <a href="{{ path('app_register',{type:'proprietaire'}) }}" type="button" class="btn btn-secondary btn-lg">Proposer ma voiture</a>
</div>

{% endblock %}

