{{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
    {{ form_widget(form) }}

    <button type="submit" class="btn btn-primary" style="display:inline-block;width: 100%;height: 5vh;">Enregistrer</button>

{{ form_end(form) }}