{% extends 'base.html.twig' %}

{# Page à propos #}

{% block body %}

<h3> Bienvenue sur la page "à propos" !</h3>

<div> Qui sommes nous?</div>
<p> Nous sommes Jean-Marc, Wissem et Jonathan!</p>

<div> Nous contacter : rien de plus simple !</div>
<p> Vous pouvez nous joindre par mail : jmwj@toutroule.com</p>

<p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis veritatis earum aut impedit repellat, dolorum totam deleniti nisi labore quisquam saepe debitis doloribus vel quasi voluptatem officia omnis, reprehenderit dicta? </p>

{% endblock %}