{% extends 'base.html.twig' %}

{# Page à propos #}

{% block body %}

<div class="container bg-dark" style="min-height: 86.4vh;">
  <div class="h2"> Bienvenue sur la page "à propos" !</div>
  <br>
  <div class="h4"> Qui sommes nous?</div>
  <br>
  <div class="p-about"> Nous sommes Jean-Marc, Wissem et Jonathan! Nous sommes étudiants chez O'clock et nous sommes ravis de vous présenter notre projet de fin d'études. </div>
  <br>
  <div class="h4"> Nous contacter : rien de plus simple !</div>
  <div class="p-about"> N'hésitez pas à demander nos coordonnées auprès de l'école O'clock</div>
</div>

{% endblock %}