{# Page de la liste des voitures #}

{% extends 'base.html.twig' %}

{% block body %}

<h3> Bienvenue sur la page de nos voitures!</h3>

<p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis veritatis earum aut impedit repellat, dolorum totam deleniti nisi labore quisquam saepe debitis doloribus vel quasi voluptatem officia omnis, reprehenderit dicta? </p>

{% endblock %}