{# Page des CGU #}

{% extends 'base.html.twig' %}

{% block body %}

<h3> Bienvenue sur la page "cgu" !</h3>
<p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis veritatis earum aut impedit repellat, dolorum totam deleniti nisi labore quisquam saepe debitis doloribus vel quasi voluptatem officia omnis, reprehenderit dicta? </p>

{% endblock %}