{% extends 'baseAdmin.html.twig' %}

{% block title %}Espace Administrateur{% endblock %}

{% block body %}

<div class="hero-banner" style="height:86.4vh">
    <div class="hero-baseline">

            <h1 class="h1-admin">Espace administrateur</h1>
     
        </div>
    </div>
{% endblock %}