body {
  background:#e5e9ec;
  padding-top: 78px;
}
.logo-img {
  height:50px;
  background-color: #e5e9ec;
}

.main-min-height {
  min-height: calc(100vh - 78px - 135px);
  position: relative;
}

.hero-banner {
    background: url('../images/homepage.jpeg');
    background-position: center center;
    height: 80vh;
    background-repeat: no-repeat;
    position: relative;
    background-size: cover;

}

.hero-baseline {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size:3rem;
}

.hero-baseline > h1 {
  color: #4197D6;
  font-weight: bold;
  line-height: 1.2;
  text-shadow: 4px 3px 0px #000, 9px 8px 0px rgb(0 0 0 / 15%);
  /*text-shadow: 5px 1px 2px rgb(0 0 0 / 30%); */
    /* text-shadow: 0px 4px 3px rgb(0 0 0 / 40%), 0px 8px 13px rgb(0 0 0 / 10%), 0px 18px 23px rgb(0 0 0 / 10%); */
    /* text-shadow: 0px 3px 0px #b2a98f, 0px 14px 10px rgb(0 0 0 / 15%), 0px 24px 2px rgb(0 0 0 / 10%), 0px 34px 30px rgb(0 0 0 / 10%);*/
}

.hero-search-form {
  position: absolute;
  top: 15%;
  width: 50%;
  left: 2%;
  background-color: rgba(32, 30, 30, 0.2);
  padding: 1rem;
  border-radius: 5px;
}

.form-group > label {
  color: #4197D6;
}
.blue {
  color: #4197D6;
}

.title-pages {
  font-size: 3rem;
  font-weight: bold;
}

.custom-file-label {
  color:blue;

}

.h2-title-home {
  font-weight: bold;
  text-transform: uppercase;
  margin: 2rem;
}

/*****
CUSTOM STYLE BOOTSTRAP
******/

.badge {
  white-space: normal;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  color:black;
}

.card-title > a{
  color: #CBAEAE;
}

a:hover {
  text-decoration: none;
  color: #fafafa;
  transition: ease-in-out .5s;
}

.card {
  background-color: black;
}

.form-control[readonly] {
  background-color: white;
}

/******
BREAKPOINTS
******/
/* // Small devices (landscape phones, 576px and up) */
@media (max-width: 600px) { .hero-baseline > h1, h2 {font-size: 2rem}  }

/* // Medium devices (tablets, 768px and up) */
@media (max-width: 800px ) { .cards-colums {column-count: 2;}  }

/* // Large devices (desktops, 992px and up) */
/* @media (min-width: 992px) { font-size:  } */

/* // Extra large devices (large desktops, 1200px and up) */
/* @media (min-width: 1200px) { font-size:  }  */

