{% extends 'baseAdmin.html.twig' %}

{% block title %}Ajout d'une annonce{% endblock %}

{% block body %}
    <div class="container pt-5 bg-dark">
        <h1>Ajout d'une annonce</h1>
        {# Formulaire d'ajout d'une annonce  #}
        {% include "partials/_announce-form.html.twig" %}

        <a href="{{path('user_account')}}">Retour vers la liste</a>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bs-custom-file-input/dist/bs-custom-file-input.min.js"></script>
    <script type="application/javascript">
        $(document).ready(function () {
            bsCustomFileInput.init()
        })
    </script>
{% endblock %}
